

html {
	padding: 100px ;
}

title {
	float: top ; 
}
/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*header {
	width: 860px ;
	height: 1px ;
	background-color: # 7cc576 ;

}*/
header {
	width: 960px ;
	height: 200px ;
	background-color: #7cc576 ;

}



body {
	background: repeat;
}
aside {
	float: right;

}