@charset "utf-8";
@import url("overlay-loader.css");
/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html {
	max-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
}
table {
	margin:0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

table, th, tr, td, tbody {
  border: 1px solid #ccc;
}


#nav {
	border-collapse: collapse;
	border-spacing: 0;
	float: left;
}

li {
	margin:0 auto;
}


.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*subtle background*/
main {
	background-image: url("../img/main-bg.png");
}
/*these are to add teal color to header and titles*/
h1  {
    font-family: 'Aclonica';font-size: 22px;
    color: #72a9ae;
}

#mobile-nav, #desktop-nav {
	height: 100px;
	background: #72a9ae;
	width: 100%;
}

thead {
	 color: #72a9ae;
}
h2 {
	color: #72a9ae;
}
/** Form Style **/

form {
	max-width: 30%;
	float: left;
	margin: 20px auto;
	padding: 20px;
	
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*submit button*/
button {
  width: 30%;
  color: blue;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
	background: #283593;
}


div#results {
  float: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  left: 800px;
  bottom: 450px;
}

#results span, #results a {
	opacity: 0;
	transition: all 0.5s ease-out;
	transition-delay: 1s;
}

#results.reveal span, #results.reveal a {
	opacity: 1;
}
/*these are to position footer elements*/
.quick-links {
	padding: 5%;
}

.footer-links {
	clear: left;
	padding: 5%;
	position: relative;
	left: 250px;
	bottom: 65px;
}
#footer-address {
	float: right;
	position: relative;
	bottom: 180px;
}
/*desktop navigation*/

.desktop-nav {
	clear: both;
	display: block;
	background: #72a9ae;
	width: 100%;
}

.desktop-nav ul {
	width:100%;
}

.desktop-nav li {
	box-sizing: border-box;
	width: 15%;
	padding: 5px;
	float: left;
	position: relative;

}.desktop-nav li:first-child {
	border-radius: 10px 0 0 10px;
}


.desktop-nav li:last-child {
	border-radius: 0 10px 10px 0;
}


.desktop-nav li .sub-nav li {
	width: 100%;
}
/*font squirrel font for body*/

@font-face{ 
	font-family: 'opensans_light_macroman';
	src: url('opensans_light_macroman.eot');
	src: url('opensans_light_macroman.eot?iefix') format('eot'),
	     url('opensans_light_macroman.woff') format('woff'),
	     url('opensans_light_macroman.ttf') format('truetype'),
	     url('opensans_light_macroman.svg#webfont') format('svg');
}

    font-weight: normal;
    font-style: normal;

}
/*font name*/
body {

	font-family: 'opensans_light_macroman', sans-serif;

}

/*box shadow for profile reults box*/
#results {
	position: absolute;
	width: 30%;
	/*box shadow*/
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

/* CSS for sub-nav when cursor hovered on main li  */

.desktop-nav > ul > li:hover .sub-nav {
	display: block;
}

.ham {
	float: right;
	
}

.ham {
		
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		/*this is used to create a pointer for element*/
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: red;
		position: absolute;
		bottom: 0;
	}

.mobile-nav {
	width:100%;
	clear: both;
	position: absolute;
	display: none;
}

.mobile-nav-container {
	position: relative;
	clear: both;
	
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #72a9ae;
	border-bottom: 2px solid #121212;

}
/*p placement*/
.first-p {
	width: 60%;
	float: left;
	padding: 1%;
}
.second-p {
	width: 60%;
	float: left;
	padding-bottom: 2%;
}
#sched {
	float: left;
	padding-top: 20%;
	position: relative;
	right: 600px;
}

table {
	width: 90%;
}
/*this is to seperate the mtitle*/
#mtitle	{
	padding-top: 1%;
}
/* this is to position the bridge image to the right of p*/
aside {
	float: right;
	padding: 15px;
	width: 30%;
	box-sizing: border-box;
	position: relative;
	bottom: 120px;

/*this is to position the profile/results box*/
}
#results {
	float:right;
} 
/*footer styles*/
footer {
	background: #454545;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

/*this is to help keep the site fluid for different sizes*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		
	}
}

	