@import url("overlay-loader.css");

/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table, th, tr, td, tbody {
  border: 1px solid #ccc;
}
table {
	margin:0 auto;
}
#nav {
	border-collapse: collapse;
	border-spacing: 0;
	float: left;
}

li {
	margin:0 auto;
}
/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: sans-serif;
}

main {
	background-image: url("../img/main-bg.png");
}

h1  {
    font-family: 'Aclonica';font-size: 22px;
    color: #72a9ae;
}

#mobile-nav, #desktop-nav {
	height: 100px;
	background: #72a9ae;
	width: 100%;
}
li {

}

thead {
	 color: #72a9ae;
}
h2 {
	color: #72a9ae;
}
/** Form Style **/

form {
	max-width: 30%;
	float: left;
	margin: 20px auto;
	padding: 20px;
	
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 30%;
  color: blue;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
	background: #283593;
}


div#results {
  float: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  left: 800px;
  bottom: 450px;
}

#results span, #results a {
	opacity: 0;
	transition: all 0.5s ease-out;
	transition-delay: 1s;
}

#results.reveal span, #results.reveal a {
	opacity: 1;
}

.quick-links {
	padding: 5%;
}
.footer-links {
	clear: left;
	padding: 5%;
	position: relative;
	left: 250px;
	bottom: 65px;
}
#footer-address {
	float: right;
	position: relative;
	bottom: 180px;
}

.desktop-nav {
	clear: both;
	display: none;
}

.desktop-nav ul {
	width:100%;
}

.desktop-nav li {
	box-sizing: border-box;
	width: 15%;
	padding: 5px;
	float: left;
	/*This is required to make sub-nav positioned absolute to the main navigation li containers*/
	position: relative;
}

/*Target the first child and add border-top-left, border-bottom-left radius*/
.desktop-nav li:first-child {
	border-radius: 10px 0 0 10px;
}

/*target the last child and add border-top-right and border-top-left radius*/
.desktop-nav li:last-child {
	border-radius: 0 10px 10px 0;
}

.desktop-nav  {
	display: block;
	background: #72a9ae;
}

/* Target the first child and remove border-left from the a tag contained in that li
.desktop-nav li:first-child a {
	border-left: 0;
} */

.desktop-nav li .sub-nav li {
	width: 100%;
}

/*.desktop-nav li .sub-nav li a {

	background: #BBDEFB;
	border-left: none;
	border-bottom: 2px solid #444;
}*/
#results {
	position: absolute;
	width: 30%;
	/*display: none;*/
	/*box shadow is used to add shadow to the HTML elements, giving them a 3d effect*/
	/*box shadow : left-offset top-offset blur color*/
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
.desktop-nav {
	width: 100%;
}
/*This piece of CSS is used to make sub-nav show when the main li is hovered */
/* > is called the direct child selector*/
.desktop-nav > ul > li:hover .sub-nav {
	display: block;
}

.ham {
	float: right;
	/*background: #BBDEFB;*/
}

.ham {
		
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		/*this is used to create a pointer for element*/
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: red;
		position: absolute;
		bottom: 0;
	}

.mobile-nav {
	width:100%;
	clear: both;
	position: absolute;
	display: none;
}

.mobile-nav-container {
	position: relative;
	clear: both;
	
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #72a9ae;
	border-bottom: 2px solid #121212;

}

.first-p {
	width: 60%;
	float: left;
	padding: 1%;
}
.second-p {
	width: 60%;
	float: left;
	padding-bottom: 2%;
}
#sched {
	float: left;
	padding-top: 3%;
	position: relative;
	right: 830px;
}

table {
	width: 90%;
}
#mtitle	{
	padding-top: 1%;
}

}
aside {
	float: right;
	padding: 15px;
	width: 30%;
	box-sizing: border-box;
	position: relative;
	bottom: 120px;
}
#results {
	float:right;
} 
/*footer styles*/
footer {
	background: #454545;
	padding: 15px;
	width: 100%;
	font: #fffff;
	box-sizing: border-box;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		
	}
}
/*@media only screen and (min-width: 768px) {*/
	